all:
  children:
    proxmox_hosts:
      hosts:
        pve1:
          ansible_host: 192.168.111.10
        pve2:
          ansible_host: 192.168.111.11
        pve3:
          ansible_host: 192.168.111.12
      vars:
        ansible_user: root
        ansible_ssh_private_key_file: ~/.ssh/id_ed25519
        proxmox_bridge: vmbr0
